.confirm {
    h1 {
        margin-left: 20px;
        font-size: 3rem;

        @media (max-width: 970px) {
            font-size: 1.5rem;
        }

        @media (max-width: 630px) {
            text-align: center;
        }
    }
    
    .wrapper {
        width: 1550px;
        margin: 5px auto 20px auto;

        display: flex;
        flex-direction: column;
        gap: 10px;
    
        @media (min-width: 1551px) and (max-width: 1920px) {
            width: 1250px;
        }
    
        @media (min-width: 1251px) and (max-width: 1550px) {
            width: 920px;
        }
    
        @media (min-width: 941px) and (max-width: 1250px) {
            width: 610px;
        }
    
        @media (max-width: 940px) {
            width: 300px;
        }
    }
    
    .buttons {
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: center;
    }
}