.footer {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    background-color: #333333;
    color: whitesmoke;

    display: flex;
    justify-content: space-between;

    .logo {
        color: whitesmoke;
        height: 1em;
        margin-left: 0.5rem;

        a {
            color: whitesmoke;

            &:hover {
                font-weight: bold;
            }
        }
    }
}
