.list_layout {

    h1 {
        margin-left: 20px;
        font-size: 3rem;

        @media (max-width: 970px) {
            font-size: 1.5rem;
        }

        @media (max-width: 630px) {
            text-align: center;
        }
    }

    .container {
        width: 1230px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        @media (min-width: 1251px) and (max-width: 1550px) {
            width: 920px;
        }

        @media (min-width: 941px) and (max-width: 1250px) {
            width: 610px;
        }

        @media (max-width: 940px) {
            width: 300px;
        }
    }
}
