.layout {
    background: #f6f6f6;
    display: grid;
    grid-template-areas: 
        "header  header"
        "sidebar main"
        "footer  footer"
    ;
    grid-template-columns: 320px auto;
    grid-template-rows: 100px auto 100px;

    @media (max-width: 630px) {
        grid-template-areas: 
            "header"
            "sidebar"
            "main"
            "footer"
        ;
        grid-template-columns: auto;
        grid-template-rows: 100px auto auto 100px;
    }

    header {
        grid-area: header;
    }

    aside {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 630px) {
            margin: 10px auto;
        }
    }

    main {
        grid-area: main;
        min-height: 85vh;
    }

    footer {
        grid-area: footer;
    }

    .logo {
        height: 1em;
        margin-left: 0.5rem;
      }
}
