$card-width: 300px;
$card-height: 380px;
$img-width: 280px;
$img-height: 200px;
$bg-color: white;

.card {
    width: $card-width;
    height: $card-height;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    background: $bg-color;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    figure {
        width: $img-width;
        height: $img-height;
        border-radius: 10px;
    }

    .card__title {
        font-size: 1rem;
    }

    .card__price {
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
    }
}
